.result-display.text-center{
    background-color: white;
    display:block;
    align-items: center;
  }
  
  .logo-and-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
  }
  .date{
    display: flex;
    justify-content: center;
   
  }
  
 
  .title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  
  #heading-content-1{
    color: black;
    font-size:39px;
    padding:10px;
    margin-left:100px;
  }
  
  #heading-content{
    color: black;
    font-size:25px;
    
  }
  
  #section-title{
    color:black;
    font-weight: bold;
    align-items: center;
    text-decoration: underline;
    margin:20px;
    font-size: 35px;
  }
  
  
  .dept-and-semester-info{
    display: flex;
    justify-content: space-between; /* Push children to each end of the container */
    padding-top:25px;
    font-size:x-large;
    
  }
  .line{
    width:120px;
    margin-left: 170px;
    margin-top:0px;
  }
  .line-2{
    width:520px;
    margin-left: 360px;
    margin-top:0px;
    padding-top:0px;
    background-color: #000;
  }
  .teachers-name{
   margin-top: 20px;
   margin-right: 620px;
  font-size: x-large;
  
  }
  
  #dot{
    margin-left: 150px;
    margin-top:0px;
  }
  .result-table {
    margin-top:30px;
    width: 100%;
    border-collapse: collapse;
    font-size:larger;
  }
  
  .custom-header {
    border-bottom: 20px solid #000; /* Replace #000 with the color you prefer */
  }
  
  .result-table th{
    border: 1px solid #080808;
    padding: 10px;
    font-size: x-large;
   
  }
  .result-table td {
    border: 1px solid #090909;
    padding: 12px;
    font-size: x-large;
  }
  
  .text-right {
    color:black;
    font-size:x-large; 
  }
  .text-center {
    color: black; 
    font-size:larger;
    
  }
  .section-divider {
    border: none;
    border-top: 4px solid black;
    width: 100%;
    margin-top: 20px;
  }
  .signature-line{
    background-color: #000;
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin-top: 20px;
  }
  .left-aligned {
    text-align: left;
  }
  .right-aligned{
    text-align: right;
    
  }
  .signatures{
    margin:50px;
    display: flex;
    justify-content: space-between;
    font-size:x-large;
    color:#080808
  }
  .declaration{
    font-size: x-large;
    color:black;
  }
    
    .declaration-two{
      font-size: x-large;
      color:black;
      margin-top: 50px;
      text-align: center;
      
    }
    .result-display{
      margin-left: -200px;
    }